 
.table-fixed { 
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.td-panel {
    vertical-align: top;
}

#left-panel {
    padding-right: 10px;
}

.side-panel {
    padding: 10px;
    padding-bottom: 1px;
    border: solid 1px #eee;
    display: none;
}

#editor-box {
    font-size: 14px;
}

.vert-btn {
    padding: 4px 0;
    margin-left: 12px;
    margin-top: 0;
    margin-bottom: 8px;
    width: 160px;
}

#make_info {
    padding: 6px;
    margin-left: 10px;
    color: red;
}

.modal-body {
    padding: 0;
}

.modal .modal-body {
    padding: 9px;
}
